<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>app1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC7AA0361DF170C8002D4964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7AA04C1DF170C9002D4964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC7AA0571DF170C9002D4964</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
